<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserDaoBean" class="com.powernode.spring6.Dao.UserDao"></bean>
    <bean id="UserServiceBean" class="com.powernode.spring6.service.UserService">
        <property name="userDao" ref="UserDaoBean"></property>
    </bean>
    <bean id="VipDaoBean" class="com.powernode.spring6.Dao.VipDao"></bean>


    <bean id="cs" class="com.powernode.spring6.service.CustomerService">
        <constructor-arg index="0" ref="UserDaoBean"></constructor-arg>
        <constructor-arg index="1" ref="VipDaoBean"></constructor-arg>
    </bean>

</beans>